* {
  padding: 0;
  margin: 0;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ===== common css ends ===== */
:root {
  --pfont: "Open Sans", sans-serif;
  --hfont: "Oswald", sans-serif;
  --brand-cl: #e23e38;
  --hcl: #353535;
  --pcl: #777777;
  --membg-1: #dddddd;
  --membg-2: #f1f1f1;
}
/* ===== navbar css starts ===== */
.navbar {
  background: rgba(54, 54, 54, 0.25);
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 99999;
}
.navbar .navbar-brand {
  background: var(--hcl);
  padding: 10px 15px !important;
  position: absolute;
  transform: skewX(-30deg);
}
.navbar .navbar-brand img {
  transform: skewX(30deg);
}
.navbar .navbar-nav .nav-item .nav-link {
  line-height: 50px;
  padding: 0px 10px !important ;
  font-family: var(--hfont);
  font-weight: 400;
  font-size: 14px;
  position: relative;
  z-index: 1;
}
.navbar .navbar-nav .nav-item .nav-link::before {
  content: "";
  width: 100%;
  height: 0;
  background: var(--hcl);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all linear 0.4s;
}
.navbar .navbar-nav .nav-item .nav-link:hover::before {
  height: 100%;
}
.navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--brand-cl);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all linear 0.4s;
}
.navbar .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}
/* .navbar .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0 !important;
} */
/* ===== navbar css ends ===== */
